<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">
        
        <div class="content">
          <ul class="breadcrumb">
            <li>
              <p>YOU ARE HERE</p>
            </li>
            <li><a href="#" class="active" th:text="#{_ta_user_list}"></a>
            </li>
          </ul>
          
          
              <div class="row">
                <div class="col-md-12">
                  <div class="grid simple ">
                    <div class="grid-title no-border">
                      <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                      </div>
                    </div>
                    <div class="grid-body no-border">
                      <h3 th:text="#{_ta_user_list}"></h3>
                      <br>
                      <br>
                      <table class="table table-hover no-more-tables">
                        <thead>
                          <tr>
                            <th th:text="#{_ta_user_reg_id}">ID</th>
                            <th th:text="#{_ta_user_reg_name}">User Name</th>
                            <th th:text="#{_ta_user_reg_email}">Email</th>
                            <th th:text="#{_ta_user_reg_gender}">Gender</th>
                            <th th:text="#{_ta_user_reg_phone}">Phone Number</th>
                            <th th:text="#{_ta_status}">Status</th>
                            <th th:text="#{_ta_action}">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="users : ${USERLIST}">
                            <td th:text="${users.id}"></td>
                            <td th:text="${users.username}"></td>
                            <td th:text="${users.email}"></td>
                            <th th:if="${users.gender}=='m'" th:text="#{male}"></th>
                            <th th:if="${users.gender}=='f'" th:text="#{female}"></th>
                            <th th:text="${users.phoneNumber}"></th>
                            <th th:text="${users.status}"></th>
                            
                            <td th:text="${users.userHash}" style="display:none;"></td>
                            <th>
                            	<a th:href="'delete'+'/'+${users.userHash}" >Delete</a> |
                            	<a th:href="'update'+'/'+${users.userHash}">Update</a> |
                            	<a th:href="'detail'+'/'+${users.userHash}">Detail</a>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            
          </div>
        <!-- END PAGE -->
      </div>
</div>

</body>
</html>