<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">

	<div class="content">
		<ul class="breadcrumb">
            <li>
              <p>YOU ARE HERE</p>
            </li>
            <li><a href="#" class="active" th:text="#{_ta_user_profile}"></a> </li>
          </ul>
        <div class="row" >
            <div class="col-md-12">
              <div class="grid simple form-grid">
                <div class="grid-title no-border">
                  <h4 th:text="#{_ta_user_profile}"></h4>
                  <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                  </div>
                </div>
                <div class="grid-body no-border">
                  <form th:each="userdetail : ${USERDETAIL}" class="form-no-horizontal-spacing" id="form-condensed" novalidate="novalidate">
                    <div class="row column-seperation">
                      <div class="col-md-6">
                        <h4 th:text="#{_ta_user_list_info}"></h4>
                        <div class="row form-row">
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_name}">User Name</label>
                            <input th:value="${userdetail.username}" th:type="text" class="form-control">
                          </div>
                        </div>
                        <div class="row form-row">
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_gender}">Gender</label>
                            <input th:value="${userdetail.gender}" type="text"class="form-control">
                          </div>
                        </div>
                        <div class="row form-row">
                          
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_phone}">Phone Number</label>
                            <input th:value="${userdetail.phoneNumber}" type="text"class="form-control">
                          </div>
                        </div>
                        
                        <div class="row form-row">
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_email}">Email</label>
                            <input th:value="${userdetail.email}" type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      </div>
                    <div class="form-actions">
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
	</div>
		
</div>

</body>
</html>