<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">

	<div class="content">
		<ul class="breadcrumb">
            <li>
              <p>YOU ARE HERE</p>
            </li>
            <li><a href="#" class="active" th:text="#{_ta_user_update}"></a> </li>
          </ul>
        <div class="row" >
            <div class="col-md-12">
              <div class="grid simple form-grid">
                <div class="grid-title no-border">
                  <h4 th:text="#{_ta_user_update}"></h4>
                  <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                  </div>
                </div>
                <div class="grid-body no-border">
                  <form th:action="@{'/admin/user-updated/' + ${USERUPDATE.userHash}}" th:object="${USERUPDATE}" method="post" class="form-no-horizontal-spacing" id="form-condensed" novalidate="novalidate">
                    <div class="row column-seperation">
                      <div class="col-md-6">
                        <h4 th:text="#{_ta_user_list_info}"></h4>
                        <div class="row form-row">
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_name}"></label>
                            <input th:field="*{username}" name="form3FirstName" id="form3FirstName" type="text" class="form-control"  />
                          </div>
                        </div>
                        <div class="row form-row">
                          <div class="col-md-7">
                          	<label th:text="#{_ta_user_reg_gender}"></label>
                            <select th:field="*{gender}" name="form3Gender" id="form3Gender" class="select2 form-control">
                              <option value="m" th:text="#{male}"></option>
                              <option value="f" th:text="#{female}"></option>
                            </select>
                          </div>
                        </div>
                        <div class="row form-row">
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_gender}"></label>
                            <input th:field="*{phoneNumber}" type="text" class="form-control" id="form3PhoneNumber" name="form3PhoneNumber">
                          </div>
                        </div>
                        
                        <div class="row form-row">
                          <div class="col-md-12">
                          	<label th:text="#{_ta_user_reg_email}">Email</label>
                            <input th:field="*{email}" name="form3Email" id="form3Email" type="text" class="form-control" >
                          </div>
                        </div>
                      </div>
                      </div>
                    <div class="form-actions">
                      <div class="pull-left">
                        <div class="checkbox checkbox check-success 	">
                          <input type="checkbox" value="1" id="chkTerms">
                          <label for="chkTerms">I Here by agree on the Term and condition. </label>
                        </div>
                      </div>
                      <div class="pull-right">
                        <button class="btn btn-danger btn-cons" type="submit" th:text="#{_ta_button_update}"><i class="icon-ok"></i></button></a>
                        <button class="btn btn-white btn-cons" type="button" th:text="#{cancel}"></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
	</div>
		
</div>

</body>
</html>