 
  	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
  	<link th:href="@{http://getbootstrap.com/dist/css/bootstrap.css}" rel="stylesheet">
  	<link th:href="@{/resources/admin/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/shape-hover/css/demo.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/shape-hover/css/component.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/owl-carousel/owl.theme.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/resources/admin/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/resources/admin/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}" rel="stylesheet" type="text/css" media="screen">
    <link th:href="@{/resources/admin/assets/plugins/Mapplic/mapplic/mapplic.css}" rel="stylesheet" type="text/css" media="screen">
    <!-- END PLUGIN CSS -->
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{/resources/admin/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/resources/admin/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
    
    <link th:href="@{/resources/admin/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/resources/admin/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" />
    <!-- END PLUGIN CSS -->
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link th:href="@{/resources/admin/webarch/css/webarch.css}" rel="stylesheet" type="text/css" />
